<div id="post-id" data-post-id="<%= @post_id %>"> </div>
<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <div class="content">
          <strong>
            <%= comment.name %>
          </strong>
          </div>
        <% @comment = comment %>
          <%= @comment.comment %>
        <br>
        <h>Comments:</h>
        <br>
        <%= render @comment.answers %>
        <%= render 'answers/form' %>
          <br>
            <br>
          <% if comment.user_id == current_user.id %>
            <% nil %>
          <% else %>
          <%= comment.get_upvotes.size-comment.get_downvotes.size %>
          <%= link_to "Like", like_post_comment_path(comment.post, comment), method: :put, class: "button", id: "like1"%>
          <%= link_to "Dislike", dislike_post_comment_path(comment.post, comment), method: :put, class: "button"%>
          <% end %>
        </p>
        <div class="file">
          <% if comment.file.attached? %>
            <%= link_to 'Download attached file', comment.file %>
<!--            Пофиксить-->
<!--            <div class="remove-file">-->
              <%#= link_to 'Remove', post_comment_destroy_attachment_path(comment.post, comment.file.first), method: :delete, data: { confirm: 'Are you sure?' } %>
<!--            </div>-->
          <% else %>
            <% nil %>
          <% end %>
        </div>
      </div>
    </div>
    <% if comment.user_id == current_user.id %>
      <%= link_to 'Delete', [comment.post, comment], method: :delete, class: "button is-danger",
                  data: { confirm: 'Are you sure that you want to delete your comment?' }%>
  <% else %>
    <% nil %>
      <% end %>
  </article>
</div>
