<% content_for :page_title, @post.title %>
<div id="post-id" data-post-id="<%= @post_id %>">

</div>
<section class="section">
  <div class="container">
    <h1 class="title">
      <%= @post.title %>
    </h1>
    <nav class="level">
      <div class="level-left">
        <p class="level-item">
          <strong>Actions</strong>
        </p>
      </div>

      <div class="level-right">
        <p class="level-item">
          <% if can?(:edit, Post) %>
          <%= link_to "Edit", edit_post_path(@post), class: "button" %>
            <% end %>
        </p>
        <p class="level-item">
          <% if can?(:destroy, Post) %>
            <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure that you want to delete this question?" },
                        class: "button is-danger"%>
          <% end %>
        </p>
      </div>

    </nav>
    <hr />

    <div class="content">
      <%= @post.content %>
    </div>

    <div class="attachment-gallery">
    </div>
    <div class="file">
      <p>
        <%# if current_user.id == @post[:user_id] %>
          <%# nil %>
        <%# else %>
          <%= @post.get_upvotes.size-@post.get_downvotes.size %>
          <%= link_to "Like", like_post_path(@post.id), method: :put, class: "button"%>
          <%= link_to "Dislike", dislike_post_path(@post), method: :put, class: "button"%>
        <%# end %>
      </p>
      <% if @post.file.attached? %>
        <%= link_to 'Download attached file', @post.file.first %>
        <% if current_user.id == @post[:user_id] %>
        <div class="delete-button">
          <% @post.file.each do |file| %>
            <%= link_to 'Remove', post_destroy_attachment_url(file.id),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
            <% end %>
        <% else %>
      <% nil %>
          <% end %>
        </div>
      <% else %>
        <% nil %>
      <% end %>
    </div>

  </div>

</section>

<section class="section comments" id="post_comments">
  <div class="container">
    <h2 class="subtitle is-5"><strong>
      <%= @post.comments.count %>
    </strong> Comments </h2>
    <div class="content">
<!--      Пофиксить ActionCable комментов (сделать всё покрасивше)-->
      <div id="comment_name">
      </div>
      <div id="comment_content">
      </div>
      <div id="comment_answers">
      </div>
    </div>
    <%= render @post.comments %>
    <div class="comment-form">
      <hr />
      <h3 class="subtitle is-3">
        Leave a reply
      </h3>
      <%= render 'comments/form' %>
    </div>
  </div>
</section>